.footer{
    width: 100%;
    background-color: var(--nav-color);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 4px solid var(--primary-color);
}

.footer *{
    color: var(--text-color-invert);
}

.social-icon{
    display: flex;
    width: 30vw;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 20px 0;
}

.social-icon *{
    cursor: pointer;
    fill: var(--primary-color);
}
.social-icon *:hover{
    fill: var(--primary-color-hover);
}
.lists{
    display: flex;
    list-style: none;
    width: 40vw;
    justify-content: space-around;
}

.lists li{
    cursor: pointer;
}

.lists li:hover{
    color: var(--primary-color);
}

.copyright p{
    margin-top: 20px;
    font-size: 0.8rem;
}