.nav {
    display: flex;
    width: 56vw;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    position: absolute;
    top: 3vh;
    left: 20vw;
    z-index: 999;
    background-color: var(--nav-color);
    box-shadow: 0 0 5px var(--bg-color);
    border-radius: 16px;
}


.left-nav p {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bolder;
}


.right-nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    width: 45vw;
}

.right-nav ul li {
    color: var(--bg-color);
    cursor: pointer;
}


.list,
.active {
    color: var(--text-color-highlight);
    text-shadow: 10px 0 0 0 var(--bg-color);
    padding: 0 5px;
}


.active:hover, .list:hover {
    color: var(--primary-color);
}

.right-nav ul .login-btn {
    background-color: var(--primary-color);
    padding: 2px 16px;
    border-radius: 10px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 0.9rem;
}

.right-nav ul .login-btn:hover {
    background-color: var(--primary-color-hover);
}