.itinerary-container{
    display: flex;
    position: relative;
    width: 96vw;
    gap: 10px;
}

.itinerary-container .itinerary{
    margin: 0 3vw;
    width: 50%;
}

.itinerary-container .details{
    position: -webkit-sticky; 
    position: sticky;
    height: 85vh;
    width: 50%;
    right: 0;
    top: 10vh;
    bottom: 0;
    overflow: hidden;
    margin: 3vh 0;
    border-radius: 10px;
}