:root {
  --primary-color: #f95738;
  --primary-color-hover: #dd3f00;
  --text-color: #dfdfdf;
  --text-color-invert: #000000;
  --bg-color: #191716;
  --bg-color-less-visible: #191716f6;
  --bg-color-sec: #262626;
  --bg-color-ter: #585858;
  --star-color: #fdc107;
  --nav-color: #cfcfcf;
  --iter-bg-1: #fff;
  --iter-bg-2: #f7f7f7;
  --iter-bg-3: #e3e3e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
  font-weight: 400;
  color: var(--text-color);
  transition: 0.2s ease-in-out;
  outline: none;
  text-underline-offset: 0.4rem;
  scroll-behavior: smooth;
}

button{
  border: 0;
}

::-moz-selection { /* Code for Firefox */
  color: var(--text-color);
  background: var(--primary-color);
}

::selection {
  color: var(--text-color);
  background: var(--primary-color);
}