:root {
  --primary-color: #ff4800;
  --primary-color-hover: #dd3f00;
  --text-color: #fce5e5;
  --bg-color: #191716;
  --bg-color-sec: #2d2d2d;
  --bg-color-ter: #585858;
  --star-color: #FDC107;
  --nav-color: #cfcfcf;
  --iter-bg-1: #f6f6f6;
  --iter-bg-2: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
  color: var(--text-color);
  transition: 0.2s ease-in-out;
  outline:none;
  text-underline-offset: 0.4rem;
  scroll-behavior: smooth;
}

body{
  width: 100vw;
  overflow-x: hidden;
}


button{
  border: none;
}  

/* Disable arrow of input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a{
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}