form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 15vh 5vw 5vh 5vw; 
    background: 
        radial-gradient(circle at 100% 100%, 
            rgba(255,72,0,0.1) 0%, 
            rgba(0, 0, 0, 0) 50%), 
        var(--bg-color);
}



.form-bg-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 0;
    background: radial-gradient(
        circle at 0% 0%, 
        rgba(255, 72, 0, 0.1),
        rgba(0, 0, 0, 0) 50%
      ),
      var(--bg-color);
}

.form-bg-container-inv{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 99vh;
    z-index: 0;
    transform: scaleY(-1);
    opacity: 0.3;
}


.form-heading{
    font-size: 2rem;
    border-bottom: 4px solid var(--primary-color);
    border-radius: 100%;
    padding: 0 10px;
    margin-bottom: 30px;
    z-index: 1;
}

.form-heading span{
    font-weight: 700;
}

.basic-input {
    display: flex;
    gap: 3vh 4vw;
    width: 60vw;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    margin-bottom: 5vh;
}

.text-input {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:45%;
    color: var(--bg-color);
}


.smaller-box{
    width: 40%;
}

.text-input label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 10px;
    flex-shrink: 0;
}

.text-input input, .budget-input, .date-input {
    flex-grow: 1;
    width: 100%;
    height: 2rem;
    color: var(--bg-color);
}

.text-input input{
    padding: 0 10px;
}

#datepicker {
    z-index: 999 !important;
}

.budget-input {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.currency-toggle {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
    width: 50px;
    height: 80%;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
}

.currency-toggle:hover {
    background-color: var(--primary-color-hover);
}



.text-input-extra label{
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 2px solid var(--primary-color);
    padding: 0 2px;
    margin: 10px;
}

.extra-instructions{
    display: block;
    width: 580px;
    height: 100px;
    color: var(--bg-color);
    padding: 5px 10px;
    margin: 10px;
    resize: none;
}
.plan-btn{
    width: max-content;
    height: 50px;
    padding: 0 100px;
    margin: 10px auto;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.plan-btn:hover{
    background-color: var(--primary-color-hover);
}